$lightBlue: rgb(204, 255, 204);
$lightBlack: rgb(26, 26, 26);
$lightGreen: rgb(102, 255, 102);
$black: rgb(10, 10, 10);
$titleFont: 'Acme', cursive;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
    color: $lightBlue;
}

body{
    overflow-x: hidden;
}


@keyframes showSite{
    0%{
        left: 100%;
    }

    100%{
        left: 9%;
    }
}

@keyframes hideSite{
    0%{
        left: 9%;
    }

    100%{
        left: 100%;
    }
}

@import 'cv';
@import 'home';
@import 'about';
@import 'football';
@import 'skills';
@import 'projects';
@import 'contact';